In [8]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.cm as cm 
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

In [9]:
index = pd.read_csv("index.csv")

In [10]:
index

         category                 image
0      Ankle boot      img/fashion0.png
1         T-shirt      img/fashion1.png
2         T-shirt      img/fashion2.png
3           Dress      img/fashion3.png
4         T-shirt      img/fashion4.png
...           ...                   ...
59995      Sandal  img/fashion59995.png
59996     Trouser  img/fashion59996.png
59997       Dress  img/fashion59997.png
59998     T-shirt  img/fashion59998.png
59999      Sandal  img/fashion59999.png

[60000 rows x 2 columns]